## Basic R  (dplyr)

<img src="Labs/BasicR/dplyr.png" width=100/>
dplyr is a grammar of data manipulation, providing a consistent set of verbs that help you solve the most common data manipulation challenges:

mutate() adds new variables that are functions of existing variables
select() picks variables based on their names.
filter() picks cases based on their values.
summarise() reduces multiple values down to a single summary.
arrange() changes the ordering of the rows.

In [2]:
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [1]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [5]:
row.names(mtcars)

 [1] "Mazda RX4"           "Mazda RX4 Wag"       "Datsun 710"
 [4] "Hornet 4 Drive"      "Hornet Sportabout"   "Valiant"
 [7] "Duster 360"          "Merc 240D"           "Merc 230"
[10] "Merc 280"            "Merc 280C"           "Merc 450SE"
[13] "Merc 450SL"          "Merc 450SLC"         "Cadillac Fleetwood"
[16] "Lincoln Continental" "Chrysler Imperial"   "Fiat 128"
[19] "Honda Civic"         "Toyota Corolla"      "Toyota Corona"
[22] "Dodge Challenger"    "AMC Javelin"         "Camaro Z28"
[25] "Pontiac Firebird"    "Fiat X1-9"           "Porsche 914-2"
[28] "Lotus Europa"        "Ford Pantera L"      "Ferrari Dino"
[31] "Maserati Bora"       "Volvo 142E"

In [6]:
names(mtcars)

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

In [15]:
is.numeric(mtcars$cyl)

[1] TRUE

In [3]:
str(mtcars)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [5]:
mtcars %>%
    filter( cyl==6 ) %>% head(5)

  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1 21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
4 18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
5 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4

In [6]:
mtcars %>%
    filter( cyl!=6 ) %>% head(5)

  mpg  cyl disp  hp  drat wt   qsec  vs am gear carb
1 22.8 4   108.0  93 3.85 2.32 18.61 1  1  4    1
2 18.7 8   360.0 175 3.15 3.44 17.02 0  0  3    2
3 14.3 8   360.0 245 3.21 3.57 15.84 0  0  3    4
4 24.4 4   146.7  62 3.69 3.19 20.00 1  0  4    2
5 22.8 4   140.8  95 3.92 3.15 22.90 1  0  4    2

In [3]:
mtcars %>%
    filter( cyl %in% c(6,4)) %>% head(5)

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

- <p style="color:blue; font-style:italic"> of course we can use all logical operation  like. >.  , <  , as well. as use. combinaiotn of logical operstors</p>

In [7]:
# multiple conditions
unique(mtcars$hp)

 [1] 110  93 175 105 245  62  95 123 180 205 215 230  66  52  65  97 150  91 113
[20] 264 335 109

In [19]:
mtcars %>%
    filter( cyl==6 & hp > 120 & hp < 175)

  mpg  cyl disp  hp  drat wt   qsec vs am gear carb
1 19.2 6   167.6 123 3.92 3.44 18.3 1  0  4    4
2 17.8 6   167.6 123 3.92 3.44 18.9 1  0  4    4

In [28]:
# all records maching the filter parmaters
horsePower<- c(110, 93, 175, 180)
mtcars %>% 
    filter( hp %in% horsePower)

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
5  18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
6  16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
7  17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
8  15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
9  19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
10 19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6

In [78]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [29]:
# top 5 (by default)  records
horsePower<- c(110, 93, 175, 180)
mtcars %>% 
    filter( hp %in% horsePower) %>% head()

  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1 21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3 22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
5 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
6 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3

In [30]:
# top 8 records
horsePower<- c(110, 93, 175, 180)
mtcars %>% 
    filter( hp %in% horsePower) %>% head(8)

  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1 21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3 22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
5 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
6 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
7 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
8 15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3

In [31]:
# last 2 records
horsePower<- c(110, 93, 175, 180)
mtcars %>% 
    filter( hp %in% horsePower) %>% tail(2)

   mpg  cyl disp hp  drat wt    qsec  vs am gear carb
9  19.2 8   400  175 3.08 3.845 17.05 0  0  3    2
10 19.7 6   145  175 3.62 2.770 15.50 0  1  5    6

In [6]:
'%!in%' <- function(x,y)!('%in%'(x,y))
mtcars %>%
    filter( cyl %!in% c(6,4) ) %>% head(5)

  mpg  cyl disp  hp  drat wt   qsec  vs am gear carb
1 18.7 8   360.0 175 3.15 3.44 17.02 0  0  3    2
2 14.3 8   360.0 245 3.21 3.57 15.84 0  0  3    4
3 16.4 8   275.8 180 3.07 4.07 17.40 0  0  3    3
4 17.3 8   275.8 180 3.07 3.73 17.60 0  0  3    3
5 15.2 8   275.8 180 3.07 3.78 18.00 0  0  3    3

## sorting  & arrange

In [35]:
mtcars %>% 
    arrange(cyl, desc(qsec)) %>%
    head()

  mpg  cyl disp  hp drat wt    qsec  vs am gear carb
1 22.8 4   140.8 95 3.92 3.150 22.90 1  0  4    2
2 21.5 4   120.1 97 3.70 2.465 20.01 1  0  3    1
3 24.4 4   146.7 62 3.69 3.190 20.00 1  0  4    2
4 33.9 4    71.1 65 4.22 1.835 19.90 1  1  4    1
5 32.4 4    78.7 66 4.08 2.200 19.47 1  1  4    1
6 27.3 4    79.0 66 4.08 1.935 18.90 1  1  4    1

In [36]:
# select columns 
mtcars %>% 
    select(mpg, hp, qsec) %>%
        head()

                  mpg  hp  qsec
Mazda RX4         21.0 110 16.46
Mazda RX4 Wag     21.0 110 17.02
Datsun 710        22.8  93 18.61
Hornet 4 Drive    21.4 110 19.44
Hornet Sportabout 18.7 175 17.02
Valiant           18.1 105 20.22

In [39]:
# select columns , exclude others
mtcars %>% 
    select(-mpg, -hp, -qsec) %>%
        head()

                  cyl disp drat wt    vs am gear carb
Mazda RX4         6   160  3.90 2.620 0  1  4    4
Mazda RX4 Wag     6   160  3.90 2.875 0  1  4    4
Datsun 710        4   108  3.85 2.320 1  1  4    1
Hornet 4 Drive    6   258  3.08 3.215 1  0  3    1
Hornet Sportabout 8   360  3.15 3.440 0  0  3    2
Valiant           6   225  2.76 3.460 1  0  3    1

In [46]:
# rename a column
mtcars %>%
    select(mpg, cyl,  horsePower=hp) %>%  head(3)

              mpg  cyl horsePower
Mazda RX4     21.0 6   110
Mazda RX4 Wag 21.0 6   110
Datsun 710    22.8 4    93

In [48]:
# associate select with rename
mtcars %>%
    
    select(mpg, cyl,  hp) %>%  
    rename(horsePower=hp) %>%

head(3)

              mpg  cyl horsePower
Mazda RX4     21.0 6   110
Mazda RX4 Wag 21.0 6   110
Datsun 710    22.8 4    93

In [8]:
# add. new column  which conver. mpg. (miles pe Gallon) to km /littre
#. 1 ml/Gallon = 0.425  per littre  (   mpg/Gl = 1.60934/3.78541  =. 0.42514)
mtcars %>%
    filter(cyl!=4) %>%
    select(mpg, cyl,  hp) %>%  
    mutate(kpl=mpg * 0.42514) %>%

head(6)

  mpg  cyl hp  kpl
1 21.0 6   110 8.927940
2 21.0 6   110 8.927940
3 21.4 6   110 9.097996
4 18.7 8   175 7.950118
5 18.1 6   105 7.695034
6 14.3 8   245 6.079502

In [53]:
# if then else 
  vec<- c(2, 3, NA, -2)
ifelse(vec>0, "Pos", "Not Pos")

[1] "Pos"     "Pos"     NA        "Not Pos"

In [12]:
table(mtcars$hp>230)

FALSE  TRUE
   28     4

In [23]:
# conbination of dplyr syntaxes
mtcars %>% 
    mutate( sportCar= ifelse(hp>230, "SpCar", "NormalCar")) %>% 
    select(hp , mpg, cyl,wt,  sportCar ) %>%
    arrange( cyl, wt)  %>% slice(10:19)

   hp  mpg  cyl wt    sportCar
1   95 22.8 4   3.150 NormalCar
2   62 24.4 4   3.190 NormalCar
3  110 21.0 6   2.620 NormalCar
4  175 19.7 6   2.770 NormalCar
5  110 21.0 6   2.875 NormalCar
6  110 21.4 6   3.215 NormalCar
7  123 19.2 6   3.440 NormalCar
8  123 17.8 6   3.440 NormalCar
9  105 18.1 6   3.460 NormalCar
10 264 15.8 8   3.170 SpCar

In [17]:
unique(mtcars$mpg)

 [1] 21.0 22.8 21.4 18.7 18.1 14.3 24.4 19.2 17.8 16.4 17.3 15.2 10.4 14.7 32.4
[16] 30.4 33.9 21.5 15.5 13.3 27.3 26.0 15.8 19.7 15.0

In [22]:
range(mtcars$mpg)

[1] 10.4 33.9

In [21]:
sort(mtcars$mpg)

 [1] 10.4 10.4 13.3 14.3 14.7 15.0 15.2 15.2 15.5 15.8 16.4 17.3 17.8 18.1 18.7
[16] 19.2 19.2 19.7 21.0 21.0 21.4 21.4 21.5 22.8 22.8 24.4 26.0 27.3 30.4 30.4
[31] 32.4 33.9

In [8]:
#  Sort Vs. Order
x<-c(1,2,2,3,5,10,0,-1)
sort(x)

[1] -1  0  1  2  2  3  5 10

In [12]:
x
order(x, decreasing = T)

[1]  1  2  2  3  5 10  0 -1

[1] 6 5 4 2 3 1 7 8

In [13]:
# an equivalent sorting command.
x[order(x)]

[1] -1  0  1  2  2  3  5 10

In [8]:
# conbination of dplyr syntaxes
mtcars %>% 
    mutate( consumption_Level=  
               case_when( 
                       mpg < 13 ~ "low",
                       mpg< 20. ~ "Medium",
                   TRUE ~ "High"
               ) ) %>%
    slice(10:20)

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb consumption_Level
1  19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4    Medium
2  17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4    Medium
3  16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3    Medium
4  17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3    Medium
5  15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3    Medium
6  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4    low
7  10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4    low
8  14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4    Medium
9  32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1    High
10 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2    High
11 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1    High

# General Summarize 
 *   we can use functions aggregating multiple values into a single value like: min, max, sd ..etc.

In [5]:
mtcars %>%
    filter( cyl==6) %>%
    summarize(count=n(), 
              avgMpg= mean(mpg),
              maxHp= max(hp),
              minQsec=min(qsec),
              rangeDisp=max(disp)- min(disp)
            )

  count avgMpg   maxHp minQsec rangeDisp
1 7     19.74286 175   15.5    113

In [19]:
mtcars %>%
    filter(cyl==6)  %>%
    summarize_all(funs(mean, sd))

  mpg_mean cyl_mean disp_mean hp_mean  drat_mean wt_mean  qsec_mean vs_mean
1 19.74286 6        183.3143  122.2857 3.585714  3.117143 17.97714  0.5714286
  am_mean   gear_mean ⋯ cyl_sd disp_sd  hp_sd    drat_sd   wt_sd     qsec_sd
1 0.4285714 3.857143  ⋯ 0      41.56246 24.26049 0.4760552 0.3563455 1.706866
  vs_sd     am_sd     gear_sd   carb_sd
1 0.5345225 0.5345225 0.6900656 1.812654

In [16]:
# mean and sd for a bunch of columns
mtcars %>%
    filter(cyl==6)  %>%
    summarize_at(vars(disp, mpg), funs(mean, sd))

Warning message:
“funs() is soft deprecated as of dplyr 0.8.0
please use list() instead

  # Before:
  funs(name = f(.))

  # After:
  list(name = ~ f(.))
This warning is displayed once per session.”

  disp_mean mpg_mean disp_sd  mpg_sd
1 183.3143  19.74286 41.56246 1.453567

In [26]:
mtcars %>%
    filter(cyl==6)  %>%
    summarise_if(is.numeric, funs(mean, sd))

  mpg_mean cyl_mean disp_mean hp_mean  drat_mean wt_mean  qsec_mean vs_mean
1 19.74286 6        183.3143  122.2857 3.585714  3.117143 17.97714  0.5714286
  am_mean   gear_mean ⋯ cyl_sd disp_sd  hp_sd    drat_sd   wt_sd     qsec_sd
1 0.4285714 3.857143  ⋯ 0      41.56246 24.26049 0.4760552 0.3563455 1.706866
  vs_sd     am_sd     gear_sd   carb_sd
1 0.5345225 0.5345225 0.6900656 1.812654

## Group_by

In [27]:
# numbe rof cars by gears
mtcars %>%
    group_by(gear) %>%
    summarise(nb_cars=n())

  gear nb_cars
1 3    15
2 4    12
3 5     5

In [4]:
# distinct  cylinders 
mtcars %>%
    group_by(gear) %>%
    summarise(nb_cars=n_distinct(cyl)
             
             
             )

  gear nb_cars
1 3    3
2 4    2
3 5    3

In [2]:
mtcars %>%
    group_by(gear) %>%
    summarise(nb_cars=n_distinct(cyl),
              tolal_vs=sum(vs),
              avg_Qsec_per_hp=  mean(qsec/hp)
              )

  gear nb_cars tolal_vs avg_Qsec_per_hp
1 3    3        3       0.1110932
2 4    2       10       0.2320714
3 5    3        1       0.1040304

In [5]:
mtcars %>%
    select( mpg, disp, wt, qsec, vs, gear)  %>%
    filter( mpg> 18 ) %>%
    group_by(gear) %>%
    mutate(

       lag_carb= lag(mpg, order_by=vs), 
              )

   mpg  disp  wt    qsec  vs gear lag_carb
1  21.0 160.0 2.620 16.46 0  4      NA
2  21.0 160.0 2.875 17.02 0  4    21.0
3  22.8 108.0 2.320 18.61 1  4    21.0
4  21.4 258.0 3.215 19.44 1  3    19.2
5  18.7 360.0 3.440 17.02 0  3      NA
6  18.1 225.0 3.460 20.22 1  3    21.4
7  24.4 146.7 3.190 20.00 1  4    22.8
8  22.8 140.8 3.150 22.90 1  4    24.4
9  19.2 167.6 3.440 18.30 1  4    22.8
10 32.4  78.7 2.200 19.47 1  4    19.2
11 30.4  75.7 1.615 18.52 1  4    32.4
12 33.9  71.1 1.835 19.90 1  4    30.4
13 21.5 120.1 2.465 20.01 1  3    18.1
14 19.2 400.0 3.845 17.05 0  3    18.7
15 27.3  79.0 1.935 18.90 1  4    33.9
16 26.0 120.3 2.140 16.70 0  5      NA
17 30.4  95.1 1.513 16.90 1  5    19.7
18 19.7 145.0 2.770 15.50 0  5    26.0
19 21.4 121.0 2.780 18.60 1  4    27.3

In [2]:
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

## Tidyr

In [32]:
install.packages("readr")

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [57]:
library(readr)
billboard<-  read_csv(file = "https://github.com/clanfear/Intermediate_R_Workshop/raw/master/data/billboard.csv",
           col_types = paste(c("icccD", rep("i", 76)), collapse=""))

In [58]:
tail(billboard)

  year artist           track                   time date.entered wk1 wk2 wk3
1 2000 Wright, Chely    It Was                  3:51 2000-03-04   86  78  75
2 2000 Yankee Grey      Another Nine Minutes    3:10 2000-04-29   86  83  77
3 2000 Yearwood, Trisha Real Live Woman         3:55 2000-04-01   85  83  83
4 2000 Ying Yang Twins  Whistle While You Tw... 4:19 2000-03-18   95  94  91
5 2000 Zombie Nation    Kernkraft 400           3:30 2000-09-02   99  99  NA
6 2000 matchbox twenty  Bent                    4:12 2000-04-29   60  37  29
  wk4 wk5 ⋯ wk67 wk68 wk69 wk70 wk71 wk72 wk73 wk74 wk75 wk76
1 72  71  ⋯ NA   NA   NA   NA   NA   NA   NA   NA   NA   NA
2 74  83  ⋯ NA   NA   NA   NA   NA   NA   NA   NA   NA   NA
3 82  81  ⋯ NA   NA   NA   NA   NA   NA   NA   NA   NA   NA
4 85  84  ⋯ NA   NA   NA   NA   NA   NA   NA   NA   NA   NA
5 NA  NA  ⋯ NA   NA   NA   NA   NA   NA   NA   NA   NA   NA
6 24  22  ⋯ NA   NA   NA   NA   NA   NA   NA   NA   NA   NA

In [59]:
library(tidyr)

In [60]:
billboard <- billboard %>%
    gather(key = week, value = rank, wk1:wk76)
dim(billboard)

[1] 24092     7

In [61]:
summary(billboard$rank)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   1.00   26.00   51.00   51.05   76.00  100.00   18785

In [62]:
head(billboard)

  year artist       track                   time date.entered week rank
1 2000 2 Pac        Baby Don't Cry (Keep... 4:22 2000-02-26   wk1  87
2 2000 2Ge+her      The Hardest Part Of ... 3:15 2000-09-02   wk1  91
3 2000 3 Doors Down Kryptonite              3:53 2000-04-08   wk1  81
4 2000 3 Doors Down Loser                   4:24 2000-10-21   wk1  76
5 2000 504 Boyz     Wobble Wobble           3:35 2000-04-15   wk1  57
6 2000 98^0         Give Me Just One Nig... 3:24 2000-08-19   wk1  51

In [ ]:
# let's seperate   time

In [64]:
(too_long_data <- data.frame(Group = c(rep("A", 3), rep("B", 3)),
                             Statistic = rep(c("Mean", "Median", "SD"), 2),
                             Value = c(1.28, 1.0, 0.72, 2.81, 2, 1.33)))

  Group Statistic Value
1 A     Mean      1.28
2 A     Median    1.00
3 A     SD        0.72
4 B     Mean      2.81
5 B     Median    2.00
6 B     SD        1.33

In [65]:
(just_right_data <- too_long_data %>%
    spread(key = Statistic, value = Value))

  Group Mean Median SD
1 A     1.28 1      0.72
2 B     2.81 2      1.33

In [67]:
best_rank <- billboard %>%
    group_by(artist, track) %>%
    summarize(min_rank = min(rank),
              weeks_at_1 = sum(rank == 1)) %>%
    mutate("Peak rank" = ifelse(min_rank == 1,
                                "Hit #1",
                                "Didn't #1"))

In [73]:
head(best_rank)

  artist       track                   min_rank weeks_at_1 Peak rank
1 2 Pac        Baby Don't Cry (Keep... NA       NA         NA
2 2Ge+her      The Hardest Part Of ... NA       NA         NA
3 3 Doors Down Kryptonite              NA       NA         NA
4 3 Doors Down Loser                   NA       NA         NA
5 504 Boyz     Wobble Wobble           NA       NA         NA
6 98^0         Give Me Just One Nig... NA       NA         NA

In [70]:
billboard <- billboard %>%
    left_join(best_rank, by = c("artist", "track"))

In [72]:
head(billboard)

  year artist       track                   time date.entered week rank
1 2000 2 Pac        Baby Don't Cry (Keep... 4:22 2000-02-26   wk1  87
2 2000 2Ge+her      The Hardest Part Of ... 3:15 2000-09-02   wk1  91
3 2000 3 Doors Down Kryptonite              3:53 2000-04-08   wk1  81
4 2000 3 Doors Down Loser                   4:24 2000-10-21   wk1  76
5 2000 504 Boyz     Wobble Wobble           3:35 2000-04-15   wk1  57
6 2000 98^0         Give Me Just One Nig... 3:24 2000-08-19   wk1  51
  min_rank.x weeks_at_1.x Peak rank.x min_rank.y weeks_at_1.y Peak rank.y
1 NA         NA           NA          NA         NA           NA
2 NA         NA           NA          NA         NA           NA
3 NA         NA           NA          NA         NA           NA
4 NA         NA           NA          NA         NA           NA
5 NA         NA           NA          NA         NA           NA
6 NA         NA           NA          NA         NA           NA

[![Audi R8](http://img.youtube.com/vi/KOxbO0EI4MA/0.jpg)](https://www.youtube.com/watch?v=KOxbO0EI4MA "Audi R8")